body {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

nav a {
    color:rgb(202, 162, 215);
    font-weight:bold;
    text-decoration:none;
}

h1.title{
    color: pink;
    font-size: 40px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    line-height: 1.2;
    
}

section > h2 {
    color:rgb(235, 188, 212);
    font-weight:600;
}

section{
    margin-bottom:40px;
    padding-bottom:10px;
}

img {
    width: 300px;
}
